#viewPatients, #viewAppointments, #viewSchedule, #profile, #addSchedules{
    display: none;
}

.details{
    cursor: default !important;
}

.view-mode:after{
    border: none!important;
}

#submitBtn{
    display: none;
}

tbody tr:hover{
    cursor: pointer;
}

/******** Modal center *******/
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
